<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Video</title>
</head>
<body>
  <form method='POST' enctype="multipart/form-data">

      
      Video:&nbsp;&nbsp;&nbsp;<input type='file' name='videos' accept="video/*">&nbsp;&nbsp; video should be uploaded within 30seconds(that's the server limit and I can't do anything about it). else, it will throw you an error [tip: keep the file size below 6-7mb and maintain stable internet connection]<br/>
      <br/>

      Description: <input type='text' name='videodescription', placeholder="Add Description"><br/>
      <br/>
      <button type="submit">Add Post</button>
      
       


      {% csrf_token %}
    </form> 
</body>
</html>