<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add to home</title>
</head>
<body>
    
    <form mtehod="POST" action="/addtohome/" enctype="multipart/form-data">

        <input type="file" name="profilephoto" value={{ph.profilephoto.url}} style='visibility: hidden;'>
        <input type="username" name="username" value= {{ph.username}} style='visibility: hidden;'>
        <input type="text" name="description" value= "Changed profilepicture" style='visibility: hidden;'>



{% csrf_token %}
<button>Post</button>
    </form>





</body>
</html>