{% load static %}
 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat home</title>
  
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8">
<meta name="keywords" content="Hey Buddy">
<meta name="description" content="">
<meta name="page_type" content="np-template-header-footer-from-plugin">
<title>Chat</title>
<style>
    div.sender{color:green;margin-left:60%}
    div.receive{margin-left:25px;color:royalblue}
   
    div.tej{padding-left: 0%;}
    div.basenav{position: fixed;
left: 0;
bottom: 0;
width: 100%;background-color:lightslategrey}
   
.input {
position: fixed;
left: 0;
bottom: 0;
width: 100%;
background-color: gray;
color: green;
text-align: center;
}


</style>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

<link rel="stylesheet" href="{% static "chat/nicepage.css" %}" media="screen">
<link rel="stylesheet" href="{% static "chat/Home.css" %}" media="screen">
    <script class="u-script" type="text/javascript" src="{% static "chat/jquery.js" %}" defer=""></script>
    <script class="u-script" type="text/javascript" src="{% static "chat/nicepage.js" %}" defer=""></script>
<link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">


<script type="application/ld+json">{
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": "",
    "logo": "images/heybuddy.png"
}</script>
<meta name="theme-color" content="#478ac9">
<meta property="og:title" content="Home">
<meta property="og:type" content="website">
</head>
<body data-home-page="Home.html" data-home-page-title="Home" class="u-body"><header class="u-clearfix u-header u-palette-1-light-2 u-header" id="sec-95a7"><div class="u-clearfix u-sheet u-sheet-1">
    <a href="https://nicepage.com" class="u-image u-logo u-image-1" data-image-width="512" data-image-height="512">
      <img src="{% static "chat/images/heybuddy.png" %}" class="u-logo-image u-logo-image-1">
    </a>
    <h1 class="u-text u-text-default u-text-1">Hey Buddy</h1>
    <nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1">
      <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px;">
        <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
          <svg viewBox="0 0 24 24"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use></svg>
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><symbol id="menu-hamburger" viewBox="0 0 16 16" style="width: 16px; height: 16px;"><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
</symbol>
</defs></svg>
        </a>
      </div>
      <div class="u-custom-menu u-nav-container">
        <ul class="u-nav u-unstyled u-nav-1"><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="/" style="padding: 10px 20px;">Home</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#" style="padding: 10px 20px;">post</a><div class="u-nav-popup"><ul class="u-h-spacing-20 u-nav u-unstyled u-v-spacing-10 u-nav-2"><li class="u-nav-item"><a class="u-button-style u-nav-link u-white" href="/us/">status</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-white" href="/up/">photos</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-white" href="/uv/">videos</a>
</li></ul>
</div>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="/chathome/" style="padding: 10px 20px;">Chats</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="/mypr/" style="padding: 10px 20px;">{{usern}}</a><div class="u-nav-popup"><ul class="u-h-spacing-20 u-nav u-unstyled u-v-spacing-10 u-nav-3"><li class="u-nav-item"><a class="u-button-style u-nav-link u-white" href="/logout/">logout</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-white" href="/mypr/">My profile</a>
</li></ul>
</div>
</li></ul>
      </div>
      <div class="u-custom-menu u-nav-container-collapse">
        <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
          <div class="u-inner-container-layout u-sidenav-overflow">
            <div class="u-menu-close"></div>
            <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-4"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/" style="padding: 10px 20px;">Home</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="#" style="padding: 10px 20px;">post</a><div class="u-nav-popup"><ul class="u-h-spacing-20 u-nav u-unstyled u-v-spacing-10 u-nav-5"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/us/">status</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/up/">photos</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/uv/">videos</a>
</li></ul>
</div>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/chathome/" style="padding: 10px 20px;">Chats </a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/mypr/" style="padding: 10px 20px;">{{usern}}</a><div class="u-nav-popup"><ul class="u-h-spacing-20 u-nav u-unstyled u-v-spacing-10 u-nav-6"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/logout/">logout</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/mypr/">My profile</a>
</li></ul>
</div>
</li></ul>
          </div>
        </div>
        <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
      </div>
    </nav>
  </div></header>


</head>
<body>
    <h1 style=color:darkgrey>My chats</h1><div class="tej">
        <button style='font-size:10px;'><a href="/chatinfo/">info</a></button>
        <button style='font-size:10px;' ><a href="/changebackgroundimage/">Change chat background</a></button></div>

    
    {% if chat %}
      
    {% for c in chat %}
    
      
    
      <a href="/chat/{{c.receiver}}"><h3 style="text-decoration:none">  {{c.receiver}}</h3></a><br/>
      

 
        <br/>
      
    {% endfor %}
    {% else %}  

    <h2>You haven't initiated a chat yet from your end</h2>


    {% endif %}
    <div class="basenav">
      <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/" style="text-decoration:none; color:white">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/discover/" style="text-decoration:none; color:white">discover</a>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false" style="text-decoration:none; color:white">post</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/us/">status</a></li>
                <li><a class="dropdown-item" href="/up/">photos</a></li>
                <li><a class="dropdown-item" href="/uv/">videos</a></li>
                
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false" style="text-decoration:none; color:white">My account</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/mypr/">My profile</a></li>
                <li><a class="dropdown-item" href="/notifications/">notifications</a></li>
                <li><a class="dropdown-item" href="/chathome/">chats</a></li>
                <li><a class="dropdown-item" href="/logout/">logout</a></li>
                  <li><a class="dropdown-item" href="/contactdeveloper/">contact developer</a></li>
                  
                
              </ul>
            </li>
          
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>    
</body>
</html>