<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notifications</title>
    <style>

div.tej{margin-left:10%}

    </style>
</head>
<body>
    
    {% if r %}
    <h1>Notifications:</h1>
    
    {% for pri in r  %}
    {% if pri.requesting == usern %}
      
    
    
      
    Follow request by {{pri.requester}}<br/>
    <br/>
    <div class="tej"><form method="post" action="/addprivatefollow/" enctype="multipart/form-data" >
        <input type="hidden" value="{{pri.requester}}" name="follower">
        {% csrf_token %}
        <button type="submit">accept</button>

      </form>
      <br/>
      
      <form method="post" action="/deleteprivatefollow/" enctype="multipart/form-data" >
        <input type="hidden" value="{{pri.requester}}" name="follower">
        {% csrf_token %}
        <button type="submit">delete</button>

      </form></div>
    

    {% endif %}
    {% endfor %}

      {% else %}  
      <h1>No notifications</h1>
    {% endif %}
</body>
</html>