<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notifications</title>
    <style>

div.tej{margin-left:10%}
div.teja{margin-left:5%}

    </style>
</head>
<body>
  <h2>Private follow requests:</h2>
    {% if r %}
    
    
    {% for pri in r  %}
    {% if pri.requesting == usern %}
      
    
    <div class="tej">
      
    Follow request by {{pri.requester}}<br/>
    <br/>
    <form method="post" action="/addprivatefollow/" enctype="multipart/form-data" >
        <input type="hidden" value="{{pri.requester}}" name="follower">
        {% csrf_token %}
        <button type="submit">accept</button>

      </form>
      <br/>
      
      <form method="post" action="/deleteprivatefollow/" enctype="multipart/form-data" >
        <input type="hidden" value="{{pri.requester}}" name="follower">
        {% csrf_token %}
        <button type="submit">delete</button>

      </form>
    </div>

    {% endif %}
    {% endfor %}

      {% else %}  
      <div class="teja">
      <h3>No Private follow requests</h3>
    </div>
    {% endif %}
  

    <br/>
    <br/>
    <h2>Messages:</h2><br/>
    <div class="teja">
    {% if noti %}
    
    <h3>recent top 10 messages</h3>
   
    {% for n in noti %}
   
    {% if n.message %}
      
    
      <a href="/chat/{{n.sender}}" style="text-decoration:none">{{n.sender}}:{{n.message}}</a><br/><br/>
      {% endif %}
    {% if n.chat_photos %}
      <a href="/chat/{{n.sender}}" style="text-decoration:none">{{n.sender}}:{{n.chat_photos}}</a><br/><br/>
      {% endif %}

    {% endfor %}
    <a href="/removetempnoti/" style="text-decoration:none"><button type="submit">Remove all</button></a>

    {% else %}  
    <h2>No new chat messages</h2><br/>
     
    {% endif %}
  </div>
  <h2>Notifications:</h2>
    {% if lfc %}
    
    <div class="teja">
      {% for l in lfc %}
      {% if l.followed_by %}
        
     
        <a href="/usp/{{l.followed_by}}">{{l.followed_by}}</a> started following you - &nbsp;{{l.uploaded_on}}
        {% endif %}
      <br/>
        {% if l.liked_by %}

        <a href="/usp/{{l.liked_by}}">{{l.liked_by}}</a> liked your <a href="/viewpost/{{l.postid}}">Post</a>- &nbsp;{{l.uploaded_on}}
          
        {% endif %}
        <br/>


        {% if l.commented_by %}

        <a href="/usp/{{l.commented_by}}">{{l.commented_by}}</a> commented "{{l.comment}}" on this <a href="/viewpost/{{l.postid}}">post</a>- &nbsp;{{l.uploaded_on}}
          
        {% endif %}

      <br/>

      {% endfor %}
      <br/>
      <a href="/removelfc/" style="text-decoration:none"><button type="submit">Remove all</button></a>
      </div>

      {% else %} 
<div class="teja">
      <h3>No new notifications</h3>
    {% endif %}

  </div>
  
</body>
</html>