<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notifications</title>
    <style>

div.tej{margin-left:10%}
div.teja{margin-left:5%}
div.basenav{position: fixed;
left: 0;
bottom: 0;
width: 100%;background-color:white}

    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
  <h2>Private follow requests:</h2>
    {% if r %}
    
    
    {% for pri in r  %}
    {% if pri.requesting == usern %}
      
    
    <div class="tej">
      
    Follow request by {{pri.requester}}<br/>
    <br/>
    <form method="post" action="/addprivatefollow/" enctype="multipart/form-data" >
        <input type="hidden" value="{{pri.requester}}" name="follower">
        {% csrf_token %}
        <button type="submit">accept</button>

      </form>
      <br/>
      
      <form method="post" action="/deleteprivatefollow/" enctype="multipart/form-data" >
        <input type="hidden" value="{{pri.requester}}" name="follower">
        {% csrf_token %}
        <button type="submit">delete</button>

      </form>
    </div>

    {% endif %}
    {% endfor %}

      {% else %}  
      <div class="teja">
      <h3>No Private follow requests</h3>
    </div>
    {% endif %}
  

    <br/>
    <br/>
    <h2>Messages:</h2><br/>
    <div class="teja">
    {% if noti %}
    
    <h3>recent top 10 messages</h3>
   
    {% for n in noti %}
   
    {% if n.message %}
      
    
      <a href="/chat/{{n.sender}}" style="text-decoration:none">{{n.sender}}:{{n.message}}</a><br/><br/>
      {% endif %}
    {% if n.chat_photos %}
      <a href="/chat/{{n.sender}}" style="text-decoration:none">{{n.sender}}:{{n.chat_photos}}</a><br/><br/>
      {% endif %}

    {% endfor %}
    <a href="/removetempnoti/" style="text-decoration:none"><button type="submit">Remove all</button></a>

    {% else %}  
    <h2>No new chat messages</h2><br/>
     
    {% endif %}
  </div>
  <h2>Notifications:</h2>
    {% if lfc %}
    
    <div class="teja">
      {% for l in lfc %}
      {% if l.followed_by %}
        
     
        <a href="/usp/{{l.followed_by}}">{{l.followed_by}}</a> started following you - &nbsp;{{l.uploaded_on}}
        {% endif %}
      <br/>
        {% if l.liked_by %}

        <a href="/usp/{{l.liked_by}}">{{l.liked_by}}</a> liked your <a href="/viewpost/{{l.postid}}">Post</a>- &nbsp;{{l.uploaded_on}}
          
        {% endif %}
        <br/>


        {% if l.commented_by %}

        <a href="/usp/{{l.commented_by}}">{{l.commented_by}}</a> commented "{{l.comment}}" on this <a href="/viewpost/{{l.postid}}">post</a>- &nbsp;{{l.uploaded_on}}
          
        {% endif %}

      <br/>

      {% endfor %}
      <br/>
      <a href="/removelfc/" style="text-decoration:none"><button type="submit">Remove all</button></a>
      </div>

      {% else %} 
<div class="teja">
      <h3>No new notifications</h3>
    {% endif %}

  </div>

  <div class="basenav">
    <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/discover/">discover</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">post</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/us/">status</a></li>
              <li><a class="dropdown-item" href="/up/">photos</a></li>
              <li><a class="dropdown-item" href="/uv/">videos</a></li>
              
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">My account</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/mypr/">My profile</a></li>
              <li><a class="dropdown-item" href="/notifications/">notifications</a></li>
              <li><a class="dropdown-item" href="/chathome/">chats</a></li>
              <li><a class="dropdown-item" href="/logout/">logout</a></li>
              <li><a class="dropdown-item" href="#">contact developer</a></li>
              
            </ul>
          </li>
        
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>    
</body>
</html>