<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View likes</title>
</head>
<body>
    

{% if likes %}
  

{% for l in likes  %}
  <h2>{{l.liked_by}} &nbsp;&nbsp;<button><a style="font-size: 10px; text-decoration: none;" href="/usp/{{l.liked_by}}/">View profile</a></button></h2>
{% endfor %}

{% else %} 
<h1>No likes on this post</h1>
{% endif %}

</body>
</html>