<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My followers</title>
</head>
<body>
    
<h1>My followers</h1>
<br/>
<br/>
{% if fo %}
  

{% for f in fo %}

{{f.follower}}&nbsp;&nbsp;<button><a href="/usp/{{f.follower}}">view profile</a></button>&nbsp;&nbsp;<button><a href="/chat/{{f.follower}}">chat</a></button>&nbsp;&nbsp;<button><a href="/removefollowerfromprofile/{{f.follower}}/">remove</a></button><br/><br/>
  
{% endfor %}


{% else %} 

<h3>You don't have any followers</h3>

{% endif %}

</body>
</html>